NGINX_ACCESS_LOG=path/to/nginx-proxy/access.log
NGINX_ERROR_LOG=path/to/nginx-proxy/error.log
NGINX_CONTAINER_NAME=nginx-proxy
NGINX_BLACKLIST_FILE=path/to/nginx-proxy/config/blacklist.conf
NGINX_CLOUDFLARE_FILE=path/to/nginx-proxy/config/cloudflare_realip.conf
NGINX_RELOAD_TRIGGER_FILE=/tmp/nginx_reload_pending
